* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  height: 30px;
}

.film_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #f1f2b0;
  width: 40%;
  margin: 20px;
  padding: 20px;
}

.valori h2 {
  margin-bottom: 10px;
}

span {
  font-size: 25px;
  font-weight: lighter;
}

.img, .valori {
  float: left;
}

.img {
  width: 35%;
}

.valori {
  width: 65%;
}

.img img {
  width: 154px;
}
